//  Original Style

/*grid*/

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  float: left;
}
@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .row {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
}

.row {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
margin-bottom: 3%;
}

.row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

html {
margin: 0;
}

body {
max-width: 2000px;
margin: 0;
font-size: 16px;
font-family: 'Roboto', sans-serif;
background-color: #222222;
}

body.popup-open {
overflow: hidden;
}

header {
height: 80vh;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
background-image: url("header-imgs/1.jpg");
background: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: bottom;
padding-top: 15vh;

  @media (max-device-width: 820px) {
    max-height: 28vh;
    background-position: top;
    background-size: 100% 650px;
    padding: 100px 0 100px;
    display: flex;
    justify-content: center;
  }

  @media (max-device-width: 767px) {
      max-height: 23vh;
  }
}

#header {
transition: opacity 1s ease-out, height 1s ease-out;
}

video {
position: absolute;
top: 0;
z-index: -1;
width: 100%;
}

h1 {
font-family: 'Abril Fatface', cursive;
text-align: center;
line-height: .8;
color: #fff;
font-size: 5vw;
margin: 0 auto;
text-align: center;
font-weight: lighter;
      -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */ /* Firefox < 16 */ /* Internet Explorer */ /* Opera < 12.1 */
          animation: fadein 2s;

}

h2 {
width: 100%;
text-align: center;
color: #585858;
font-weight: 400;
font-size: 2rem;
font-family: 'Abril Fatface', cursive;
}

body .content > h2 {
margin-top: 2.8rem;
}

header h3 {
color: #fff;
font-size: 2.3vw;
      -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */ /* Firefox < 16 */ /* Internet Explorer */ /* Opera < 12.1 */
          animation: fadein 2s;

}

h3 {
font-weight: lighter;
font-size: 1.3rem;
}

p {
text-align: center;
width: 70%;
color: #565656;
margin: 0 auto;
padding-bottom: 1%;
}

hr {
opacity: .5;
width: 70%;
margin-bottom: 1.5rem;
}

@media (min-width: 2000px) {
h1 {
  font-size: 10rem;
}
}

.logo {
width: 20%;
margin: 0 auto;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */ /* Firefox < 16 */ /* Internet Explorer */ /* Opera < 12.1 */
          animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */

/* Opera < 12.1 */

.intro h3 {
font-size: 1.3rem;
width: 60%;
text-align: center;
margin-bottom: 2%;
}

.intro img {
height: 115px;
margin: 0 auto;
}

.intro .live-link {
margin-bottom: 2%;
}

.intro hr {
margin-bottom: 0;
}

.title {
margin-bottom: 0;
margin-top: 1%;
flex-direction: column;
align-items: center;
}

.content {
position: relative;
z-index: 1;
max-width: 2000px;
min-height: 300px;
background: #f7f7f7;
padding: 3% 5%;
}

.work-container {
margin: 0;
margin-bottom: 75px;
overflow: hidden;
}

.work {
opacity: .88;
margin: 0 auto;
margin-bottom: 2rem;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-transition: all .2s;
transition: all .2s; 
position: relative;
cursor: pointer;
text-decoration: none;
}

.work a {
height: 100%;
width: 100%;
text-decoration: none;
position: absolute;
left: 0;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

.work img {
width: 100%;
max-width: 300px;
margin-bottom: -30px;
-webkit-transition: .2s, -webkit-filter;
transition: .2s, -webkit-filter;
transition: filter, .2s;
transition: filter, .2s, -webkit-filter;
-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
filter: grayscale(100%); 
}

.work:hover img {
  -webkit-filter: grayscale(0%) brightness(100%); /* Chrome, Safari, Opera */
  filter: grayscale(0%) brightness(100%); 
}

.more {
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
position: relative;
cursor: pointer;
text-decoration: underline;
padding-bottom: 6px;
}

.less {
opacity: 0;
-webkit-transition: all .4s;
transition: all .4s;
cursor: pointer;
}

@media (max-device-width: 800px) {
.work-container {
  padding-bottom: 50px;
  .work-text {
    align-items: center;
  }
  .work-imgs {
    width: 100%;
  }
  .work-retailers {
    width: 100%;
    padding-bottom: 50px;
  }
}
}

@media (max-device-width: 375px) {
.work p {
  padding-bottom: 40px;
}
}

.work img:nth-child(even) {
  margin-bottom: 20px;
}

.featherlight-content {
max-width: 65%;
}

@media (max-device-width: 800px) {
.featherlight-content {
  max-width: 95%;
}
}

.featherlight .featherlight-close-icon {
font-size: 1.5rem;
top: 10px;
right: 10px;
}

.work-example {
display: none;
max-width: 80%;
margin: 0 auto;
}

.work-example h3 {
text-align: center;
width: 75%;
margin: 0 auto;
margin-bottom: 20px;
}

.work-example h2 {
margin-top: 0;
}

.work-example p {
width: 60%;
}

.work-example hr {
width: 100%;
}

.work-example img {
width: 50%;
display: block;
margin: 0 auto;
margin-top: 10px;
margin-bottom: 20px;
}

.work-text {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
opacity: 0;
align-items: stretch;
}

.work-text > p {
padding: 5% 0 30px 30px;
text-align: left;
width: 40%;
}

.live-link {
  background: #434343;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  line-height: 1.5;
  margin: 5px;
  float: left;
  display: inline-block;
  transition: .35s;
  border-radius: 3px;
}

.live-link:hover {
  background: #5f5f5f;
}

.work-text > div {
  width: 50%;
  max-width: 580px;
  position: relative;
}

@media (max-device-width: 800px) {
.work-text {
  flex-direction: column;
}
.work-text p {
  width: 100%;
  padding: 20px 10px;
}
.work-text a {
  font-size: 2rem;
}
.work-text > div {
  padding-bottom: 10px;
}
}

.work-tile.active .work-text img {
width: 100%;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.work-tile.active .work-text .work-imgs {
  display: flex;
  align-items: baseline;
}

.work-tile.active .work-text .work-imgs img:first-of-type {
max-width: 520px;
position: relative;
left: 50px;
bottom: 0;
}

.work-tile.active .work-text .work-imgs img:last-of-type {
position: relative;
max-width: 150px;
width: 30%;
right: 55px;
}

.work-example img:last-child {
width: 90%;
}

.work-example .live-link {
color: #4a5fb3;
position: relative;
top: 20px;
}

.skill {
margin: 0 auto;
margin-bottom: 1rem;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
position: relative;
}

.skill hr, .work hr {
width: 20%;
margin: 20px 0;
opacity: .5;
}

.skill h3, .work h3 {
margin: 0;
font-weight: lighter;
text-align: center;
}

.skill p, .work p {
min-height: 65px;
}

.skill img {
width: 18%;
padding-bottom: 20px;
opacity: .01;
position: relative;
bottom: -100px;
transition: all 1s ease-out;
}

.skill img.in-view {
opacity: .7;
bottom: 0;
}

@media (max-device-width: 800px) {
.skill img {
  opacity: .7;
  bottom: 0;
  width: 15%;
}
}

.contact-links {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
        transform: scale(.7);
}

.contact-links a {
margin: 0 33px;
opacity: .7;
}

.contact-links a:last-child {
top: 5px;
position: relative;
}

.contact-links a:nth-child(1) {
margin-right: 15px;
}

.contact-links a:nth-child(1) img {
width: 300px;
opacity: .9;
}

.contact-links img {
width: 60px;
}

/* Menu Effect */

.work-tile {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-transition: all .5s;
transition: all .5s;
-webkit-animation: open .5s;
        animation: open .5s;
position: relative;
cursor: pointer;
}

.work-tile:hover {
-webkit-transform: scale(1.05);
        transform: scale(1.05);
}

.work-tile:hover img {
-webkit-transform: scale(1.05);
        transform: scale(1.05);
-webkit-filter: grayscale(0%);
        filter: grayscale(0%);
}

.work-tile.active:hover {
-webkit-transform: scale(1);
        transform: scale(1);
cursor: default;
}

.work-tile.active:hover img {
-webkit-transform: scale(1);
        transform: scale(1);
}

.work-tile > img {
width: 300px;
-webkit-transition: all .4s;
transition: all .4s;
-webkit-filter: grayscale(50%);
        filter: grayscale(50%);
}

.work-tile > h3 {
margin-top: 0;
margin-bottom: 12px;
}

.work-tile > hr {
width: 20%;
-webkit-transition: width .5s;
transition: width .5s;
}

.work-tile > p {
margin-bottom: 8px;
width: auto;
max-width: 285px;
}

.work-tile.active > hr {
width: 60%;
}

.work-tile .work-content {
height: 0;
overflow: hidden;
-webkit-transition: all .5s;
transition: all .5s;
text-align: center;
opacity: 0;
-webkit-transform: scale(0);
        transform: scale(0);
}

.work-tile.active img {
width: 400px;
-webkit-filter: grayscale(0%);
        filter: grayscale(0%);
}

.work-tile:before {
opacity: 0;
-webkit-transition: all .5s;
transition: all .5s;
content: '';
height: 25px;
width: 25px;
border-right: 1px solid #bbb;
border-top: 1px solid #bbb;
position: absolute;
left: 20px;
top: 20px;
cursor: pointer;
-webkit-transform: rotate(225deg);
        transform: rotate(225deg);
}

.work-tile.active:before {
opacity: 1;
}

.work-tile.active {
width: 100%;
background: #fff;
padding-bottom: 0;
}

.work-tile.active > p:last-of-type {
display: none;
}

.work-tile.active .work-content > h2 {
margin: 0;
}

.work-tile.active .more {
display: none;
}

.work-tile.active .work-text{
opacity: 1;
}

.active .work-content {
min-height: 555px;
-webkit-animation: expand .5s;
        animation: expand .5s;
padding: 0 40px 0 40px;
opacity: 1;
-webkit-transform: scale(1);
        transform: scale(1);
overflow: hidden;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
}

@media (max-device-width: 800px) {
.active .work-content {
  height: auto;
}
.sticky {
  display: none !important;
}
}

.work-tile.close {
-webkit-animation: close .5s;
        animation: close .5s;
opacity: 0;
visibility: hidden;
height: 0;
}

.work-tile.active .work-retailers img {
width: 70%;
filter: grayscale(15%);
position: relative;
box-shadow: none;
margin-bottom: 10px;
}

.work-tile .work-retailers p {
text-align: left;
}

@-webkit-keyframes expand {
0% {
  height: 0px;
  opacity: 0;
}
100% {
  height: auto;
  opacity: 1;
}
}

@keyframes expand {
0% {
  height: 0px;
  opacity: 0;
}
100% {
  height: auto;
  opacity: 1;
}
}

@-webkit-keyframes expand-img {
0% {
  width: 300px;
}
100% {
  width: 400px;
}
}

@keyframes expand-img {
0% {
  width: 300px;
}
100% {
  width: 400px;
}
}

@-webkit-keyframes close {
0% {
  width: 33.3%;
  visibility: visible;
}
100% {
  width: 0px;
  opacity: 0;
  height: 0;
}
}

@keyframes close {
0% {
  width: 33.3%;
  visibility: visible;
}
100% {
  width: 0px;
  opacity: 0;
  height: 0;
}
}

@-webkit-keyframes open {
0% {
  width: 0;
}
100% {
  width: 33.3%;
}
}

@keyframes open {
0% {
  width: 0;
}
100% {
  width: 33.3%;
}
}

@-webkit-keyframes fade-in {
0% {
  opacity:0
}
100% {
  opacity: 1;
}
}

@keyframes fade-in {
0% {
  opacity:0
}
100% {
  opacity: 1;
}
}

@keyframes popup-open {
0% {
  top: -5vh;
}
100% {
  top: 5vh;
}
}

@keyframes height-open {
0% {
  height: 0vh;
}
100% {
  height: 40vh;
}
}


.sticky {
height: 50px;
background-color: rgba(47, 47, 47, 0.90);;
opacity: 0;
position: fixed;
top: -90px;
left: 0;
width: 100%;
transition: all .5s ease-in;
display: flex;
justify-content: flex-end;
align-items: center;
}

.sticky.active {
top: 0;
opacity: 1;
z-index: 5;
}

.sticky a {
text-decoration: none;
margin-right: 30px;
cursor: pointer;
}

.sticky a h2 {
font-size: 1.3rem;
color: #f7f7f7
}

.sticky a:hover h2 {
color: #f7f7f7;
}

.sticky a img {
width: 50px;
}

.sticky a:first-child {
position: absolute;
left: 20px;
}


.work-links {
  ul {
  max-width: 2000px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin: .5% 0 4.5%;
}

  ul li {
  list-style: none;
  width: 50%;
  min-height: 40vh;
  background: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  animation: fade-in 2s;
  border-top: solid 2px rgba(47, 47, 47, 0.90);
}

  ul li:nth-last-child(-n+2) {
  box-shadow: 0px 2px 0px 0px rgba(47, 47, 47, 0.90);
}

  ul li img {
  max-width: 200px;
  margin: 0 auto;
  padding-bottom: 20px;
  filter: saturate(0%);
  transition: all .3s;
}

  ul li.work-animation:hover img {
  transform: scale(1.2);
  filter: saturate(100%);
}

@media screen and (max-width: 1100px) {
    ul li {
    width: 100%;
  }
}

  ul li.work-animation .work-bg {
    background-image: url('../img/nav-animation.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .5s;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    transform: scale(1.2);
}

  ul li.work-animation:hover .work-bg {
    transform: scale(1);
}

  ul li.work-animation #popup-work {
    position: absolute;
    display: flex;
    top: 0;
    background: rgba(255, 255, 255, .85);
    height: 102%;
    width: 100%;
    z-index: 2;
    opacity: 1;
    transition: all .3s;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}

  ul li #popup-work h2 {
  font-size: 1.7rem;
  transition: all .3s;
  font-weight: 200;
}

  ul li .pg-two h2 {
  color: #585858;
}

  ul li.work-animation:hover h2 {
    transform: scale(1.2);
}

  ul li.work-animation p {
  transition: all .3s;
}

  ul li.work-animation:hover p {
    transform: scale(1.2);
}

  ul li.work-animation .hover-design-bg {
    background-image: url('../img/hover-name.png');
}

  ul li.work-animation .slide-nav-bg {
    background-image: url('../img/slide-nav.png');
}

  ul li.work-animation .wwit-bg {
    background-image: url('../img/wwit-thumb.jpg');
}

  ul li.work-animation .sams-bg {
  background-image: url('../img/sams-thumb.jpg');
}

  ul li.work-animation .costco-bg {
  background-image: url('../img/costco-thumb.jpg');
}

  ul li.work-animation .staples-bg {
    background-image: url('../img/staples-thumb.png');
}

  ul li.work-animation .wwit-app-bg {
    background-image: url('../img/wwit-app.png');
    background-position: top;
}

.popup .wwit-app {
    text-align: center;
}

.hide {
    display: none !important;
}

.live-site-link {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #888;
}

}
#popup-work {
  display: flex;
  cursor: pointer;
  position: absolute;
  z-index: 2;
}

.popup-bg {
  height: 100vh;
  width: 100vw;
  background-color: rgba(33, 33, 33, .7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  cursor: pointer;
}

.popup {
  height: 90vh;
  width: 90vw;
  background: #f7f7f7;
  position: fixed;
  left: 5vw;
  top: -5vh;
  border-radius: 5px;
  z-index: 2;
  border: 5px solid #f7f7f7;
  transition: all .5s;
  overflow: scroll;
  overflow-x: hidden;
  display: none;
}

.popup > div {
  display: none;
}

.popup div.popup-active {
  display: block;
  &::before {
    content: '';
    display: block;
    height: 40px;
    width: 1px;
    background-color: #f7f7f7;
    transform: rotate(45deg);
    position: fixed;
    left: 31px;
    top: 24px;
    pointer-events: none;
    animation: fade-in .5s;
  }
  &::after {
    content: '';
    display: block;
    height: 40px;
    width: 1px;
    background-color: #f7f7f7;
    transform: rotate(-45deg);
    position: fixed;
    left: 31px;
    top: 24px;
    pointer-events: none;
    animation: fade-in .5s;
  }
}

.popup #popup-work {
  position: fixed;
  right: 35px;
  top: 5vh;
}

.popup #popup-work:before, .popup #popup-work:after {
  content: '';
  height: 25px;
  width: 1px;
  background: #f7f7f7;
  position: absolute;
}

.popup-open .popup {
  display: block;
  top: 5vh;
  animation: popup-open .8s;
}

.popup-open .popup-bg {
  display: block;
  animation: fade-in .5s;
}

.cp_embed_wrapper {
  /* required for resize to work */
  overflow: hidden;

  /* make resizeble! */
  resize: both;

  /* required to see the handle */
  background: white;
  padding-bottom: 10px;

  /* default height */
  height: 95vh;
}
.cp_embed_wrapper iframe {
  height: 100% !important;
}